<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="category" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Category</h1>
        <form action="" method="post" style="margin-top: 20px">
          {% csrf_token %}

          <div style="display: flex; flex-direction: column">
            <div class="inputContainer">
              <input
                type="text"
                id="category"
                name="category"
                required
                class="taskName"
                placeholder="Enter category"
              />
              <label for="category">Category : </label>
            </div>

            <button
              style="margin-top: 5px"
              class="taskAdd"
              type="submit"
              name="addCategory"
            >
              <i class="fa fa-plus icon"></i>Add
            </button>
          </div>
        </form>
        <div class="list-cat-div">
          <ul id="list-cat">
            {% for category in categories%}
            <li>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <span>{{category.name}}</span>
                <form action="" method="post">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="deleteCategory"
                    value="{{ category.id }}"
                  />
                  <button type="submit">
                    <i class="fa fa-trash-o icon"></i>
                  </button>
                </form>
              </div>
            </li>
            {% endfor%}
          </ul>
        </div>

        <hr />
        <p>
          <a
            style="
              text-decoration: none;
              font-size: 14px;
              color: #777;
              margin: 20px;
            "
            href="{{url.todo_url}}"
            >Back to Create Todo</a
          >
        </p>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
